* {
    font-family: "Helvetica Now Display";
}

.h1 {
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;

}

.label {
    font-weight: 600;
    font-size: 18px;
}

.span {
    font-weight: 600;
    font-size: 14px;
}

.btn {
    font-weight: bolder;
    font-size: 18px;
    text-transform: uppercase;
}